mixin tourcard(docs)
  div(data-aos="fade-up")  
    a(href=`/tours/${docs._id}`)
      div(class="card tour my-3") 
        div(class="card-body")
          small= docs.category
          h5= docs.title
          small made by !{docs.guide}