div(data-aos="fade-up")  
  a(href=`/tours/${tour._id}`)
    div(class="card tour mb-3") 
      div(class="card-body")
        small= tour.category
        h3= tour.title
        if tour.guide
          small made by !{tour.guide.name}