nav#topnav.navbar.navbar-expand-lg.navbar-light
  .container
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon

    a.navbar-brand(href="/") TourTrigger
    
    div#navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.px-3
          a.nav-link(href="/guides/new") 파트너 등록하기
        li.nav-item.px-3
          a.nav-link(href="/tours/") Tours
        li.nav-item.px-3
          a.nav-link(href="/users/") Users
        li.nav-item.px-3
          a.nav-link(href="/signin") Signin
        li.nav-item.px-3
          a.nav-link(href="/users/new") Signup

    button.btn(type="button", data-toggle="modal", data-target="#exampleModal") #[i(class="fas fa-search")]
    
    #exampleModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true") 
      .modal-dialog(role="document") 
        .modal-content 
          .modal-header 
            h5#exampleModalLabel.modal-title Modal title
            button.close(type="button", data-dismiss="modal", aria-label="Close") 
              span(aria-hidden="true") &times;

          .modal-body

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") Search