extends ../layout

block content
  .container.my-5
    form(action="/guides", method="POST")
      //- image
      div(class="form-group")
        label(for="image") Image
        input.form-control(type="file", name="image")

      div(class="form-group") 
        label(for="name") name
        input(type="text", class="form-control", autocomplete="off", placeholder="name", name="name") 
      
      //- description
      div(class="form-group")
        label(for="description") Description
        textarea.form-control(class="summernote", name="description", rows="5")= guide.description

      div(class="form-row") 
        div(class="form-group col-md-4") 
          label(for="country") State
          select(id="country" class="form-control") 
            each country in countries
              option= country
        div(class="form-group col-md-4") 
          label(for="city") State
          select(id="city" class="form-control") 
            
          
        
      

      button(type="submit", class="btn btn-primary") Submit