.jumbotron {
  margin-top: -1em;
  background: url('/images/wallpaper.jpg') no-repeat left center;
  min-height: 20em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#map {
  height: 500px;
}

.coursemap {
  height: 200px;
}

.tour.card .fa-heart{
  font-size: 20px;
  z-index: 5;
}

.card {
  border-radius: 0%;
}