button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseModal") ADD COURSE

div(class="modal fade", id="courseModal", tabindex="-1", role="dialog", aria-labelledby="courseModalTitle", aria-hidden="true") 
  div(class="modal-dialog modal-dialog-scrollable modal-lg", role="document") 
    div(class="modal-content")
      form(action=`${tour._id}/course`, method="POST")
        div(class="modal-header") 
          h5(class="modal-title", id="courseModalTitle") Course
          button(type="button", class="close", data-dismiss="modal", aria-label="Close") 
            span(aria-hidden="true") &times;
          
        div(class="modal-body")
          //- title
          div(class="form-group")
            label(for="title") Title
            input.form-control(type="text", name="coursetitle")
          
          //- required_time
          div(class="form-group")
            label(for="required_time") Required Time
            input.form-control(type="datetime", name="courserequired_time")

          //- description
          div(class="form-group")
            label(for="description") Description
            textarea.form-control(class="summernote", name="coursedescription", rows="5")

          #map

        div(class="modal-footer") 
          button(type="button", class="btn btn-secondary", data-dismiss="modal") Close
          button(type="submit", class="btn btn-primary addBtn") Save course