a(href="#", class="list-group-item list-group-item-action") 
  div(class="d-flex w-100 justify-content-between") 
    h5(class="mb-1")= course.title
    small= course.required_time
  
  p(class="mb-1") !{course.description}
  
  #map