//- title
div(class="form-group")
  label(for="title") Title
  input.form-control(type="text", name="title", value=tour.title)
//- description
div(class="form-group")
  label(for="description") Description
  textarea.form-control(class="summernote", name="description", rows="5")= tour.description
//- courses
div(class="form-group")
  label(for="course") Course
  div(class="d-flex justify-content-start")
    input.form-control.w-25.mr-1(type="text", name="course")
    button(type="button" class="btn btn-dark addBtn") ADD

    //- button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable") Launch demo modal

    //- div(class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true") 
    //-   div(class="modal-dialog modal-dialog-scrollable" role="document") 
    //-     div(class="modal-content") 
    //-       div(class="modal-header") 
    //-         h5(class="modal-title" id="exampleModalScrollableTitle") Modal title
    //-         button(type="button" class="close" data-dismiss="modal" aria-label="Close") 
    //-           span(aria-hidden="true") &times;
            
    //-       div(class="modal-body").
    //-         ...
    //-       div(class="modal-footer") 
    //-         button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
    //-         button(type="button" class="btn btn-primary") Save changes


  ul(class="list-group list-group-flush w-25 courselist") 
    li(class="list-group-item") Cras justo odio
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Dapibus ac facilisis in
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Morbi leo risus
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Porta ac consectetur ac
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Vestibulum at eros
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]

  
//- price
div(class="form-group")
  label(for="price") Price
  input.form-control(type="text", name="price", value=tour.price)