//- title
div(class="form-group")
  label(for="title") Title
  input.form-control(type="text", name="title", value=tour.title)
//- description
div(class="form-group")
  label(for="description") Description
  textarea.form-control(class="summernote", name="description", rows="5")= tour.description
//- courses
div(class="form-group")
  label(for="course") Course
  div(class="d-flex justify-content-start")
    input.form-control.w-25.mr-1(type="text", name="course")
    button(type="button" class="btn btn-dark addBtn") ADD

    button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseModal") Launch demo modal

    include ./_course

  ul(class="list-group list-group-flush w-25 courselist") 
    li(class="list-group-item") Cras justo odio
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Dapibus ac facilisis in
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Morbi leo risus
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Porta ac consectetur ac
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]
    li(class="list-group-item") Vestibulum at eros
      button(type="button" class="btn btn-dark btn-sm delBtn float-right") #[i(class="fas fa-times")]

  
//- price
div(class="form-group")
  label(for="price") Price
  input.form-control(type="text", name="price", value=tour.price)