//- title
div(class="form-group")
  label(for="title") Title
  input.form-control(type="text", name="title", value=tour.title)
//- description
div(class="form-group")
  label(for="description") Description
  textarea.form-control(class="summernote", name="description", rows="5")= tour.description
//- courses
if courses
  div(class="form-group")
    label(for="course") Course
    input.form-control.w-25.mr-1(type="text", name="course")

    include ./_courseinput

    ul(class="list-group list-group-flush courselist") 
      

//- price
div(class="form-group")
  label(for="image") Image
  input.form-control(type="file", name="image")
  
//- price
div(class="form-group")
  label(for="price") Price
  input.form-control(type="text", name="price", value=tour.price)