//- title
div(class="form-group")
  label(for="title") Title
  input.form-control(type="text", name="title", value=tour.title)
//- description
div(class="form-group")
  label(for="description") Description
  textarea.form-control(class="summernote", name="description", rows="5")= tour.description

//- image
.form-group
  label(for="image") Image
  input#file.form-control(type="file")
  input#url.form-control(type="text", name="image", readonly='readonly', value="")
  img#preview.img-fluid(src="https://dummyimage.com/200x200/ccc/fff")
  
//- price
div(class="form-group")
  label(for="price") Price
  input.form-control(type="text", name="price", value=tour.price)

//- category
div(class="form-group") 
  label(for="category") Category
  select(class="form-control" id="category", name="category") 
    option 가이드투어
    option 티켓
    option 액티비티
    option 스냅촬영
    option 레스토랑
    option 즐길거리
    option 여행편의