extends ../layout

include ../includes/_pagination
include ../includes/_filter

block content
  .container.my-5
    .row
      .col-md-3
        +filter('/tours')
      .col-md-9
        each tour in tours.docs
          include ../includes/_tourcard
        +pagination(tours, '/tours')