extends ../layout

include ../includes/_pagination

block content
  .container.my-5
    each tour in tours.docs
      include _tourcard
    +pagination(tours, '/tours')
    if(currentUser.guide)
      a(class="btn btn-primary float-right mb-5" href="/tours/new" role="button") new