extends ../layout

block content
  .container.my-5
    form(action="/tours", method="POST", enctype="multipart/form-data")
      include _form
      button(type="submit", class="btn btn-primary") Submit