extends ../layout

block content
  .container.my-5
    form(action=`/users/${user._id}/tours`, method="POST")
      h2 현재 예약 중인 여행
      include _tourcard

      //- form

      button(type="submit", class="btn btn-primary") 예약하기

    