extends ../layout

block content
  .container.my-5
    form(action=`/tours/${tour._id}/reserve`, method="POST")
      h2 현재 예약 중인 여행
      include ../includes/_tourcard

      .row
        //- title
        div(class="form-group col")
          label(for="reserved_date") Date
          input.form-control(type="date", name="reserved_date")
        
        div(class="form-group col") 
          label(for="people") Number Of Person
          select(class="form-control" id="people", name="people") 
            - for(var i=0; i<20; i++)
                option= (i+1)

      button(type="submit", class="btn btn-primary float-right") 예약하기