extends ../layout

block content
  form(action=`/users/${user._id}/update?_method=put`, method="POST")
    .container.my-5
      #profile
        div(class="form-group")
          label(for="image") Image
          input#file.form-control(type="file")
          input#url.form-control(type="text", name="image", readonly='readonly', value="")
          img#preview.img-fluid(src="https://dummyimage.com/200x200/ccc/fff")
        .clearfix.my-4
        //- .unsplash
        //-   a(class="float-right", href="https://unsplash.com/@demidearest?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge", target="_blank", rel="noopener noreferrer", title="Download free do whatever you want high-resolution photos from Demi DeHerrera")
        //-     span
        //-       svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 32 32")
        //-         title unsplash-logo
        //-         path(d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z")
        //-     span Demi DeHerrera
        
        #name.row.mx-auto.mb-3.form-group
          b.col-md-3.
            이름
          .col-md-9
            input.form-control(type="text", name="name", value=user.name)

        #email.row.mx-auto.mb-3
          b.col-md-3.
            이메일
          .col-md-9
            =user.email
        .clearfix.my-4
        
      button(type="submit", class="btn btn-primary") Submit