extends ../layout

block content
  .container.my-5
    a(role="button", href='#', class="btn btn-outline-secondary float-right ml-3") #[i(class="far fa-edit")] Edit 
    if(guide)
      a(role="button", href=`/guides/${guide._id}`, class="btn btn-outline-secondary float-right ml-3") #[i(class="far fa-flag")] Guide 

    .clearfix.mb-4

    #profile
      img(src="/images/profileTest.jpg", class="mx-auto pt-3 w-25 h-25")
      .clearfix.my-4
      //- .unsplash
      //-   a(class="float-right", href="https://unsplash.com/@demidearest?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge", target="_blank", rel="noopener noreferrer", title="Download free do whatever you want high-resolution photos from Demi DeHerrera")
      //-     span
      //-       svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 32 32")
      //-         title unsplash-logo
      //-         path(d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z")
      //-     span Demi DeHerrera
      
      #name.row.mx-auto.mb-3
        b.col-md-3.
          이름
        .col-md-9
          =user.name

      #email.row.mx-auto.mb-3
        b.col-md-3.
          이메일
        .col-md-9
          =user.email

    .clearfix.my-4

    .mx-auto.d-flex.justify-content-center.need-confirm-btn
      a(href=`/users/${user._id}?_method=delete`) 회원탈퇴

    .clearfix.my-4

    div(class="btn-group btn-group-lg w-100 mb-3", role="group", aria-label="Basic example")
      button#reservation(type="button", class="btn btn-secondary") 예약내역
      button#wishlist(type="button", class="btn btn-secondary") 위시리스트
      
    each tour in tours
      include ../includes/_tourcard
      a(class="btn btn-outline-danger mr-1 float-right need-confirm-btn", href=`/users/${user._id}/reserve?_method=delete`, role="button")  #[i(class="far fa-trash-alt")] 예약취소