extends ../layout

block content
  .container.my-5
    a(role="button", href=`/guides/${guide._id}`, class="btn btn-outline-secondary float-right ml-3") #[i(class="far fa-flag")] Guide 
    a(role="button", href='#', class="btn btn-outline-secondary float-right ml-3") #[i(class="far fa-edit")] Edit 

    .clearfix.mb-4

    #profile
      img(src="/images/profileTest.jpg", class="mx-auto w-25 h-25")
      .clearfix.my-4
      .unsplash
        a(class="float-right", href="https://unsplash.com/@demidearest?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge", target="_blank", rel="noopener noreferrer", title="Download free do whatever you want high-resolution photos from Demi DeHerrera")
          span
            svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 32 32")
              title unsplash-logo
              path(d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z")
          span Demi DeHerrera

    .clearfix.my-4

    div(class="btn-group btn-group-lg w-100 mb-3", role="group", aria-label="Basic example")
      button#reservation(type="button", class="btn btn-secondary") 예약내역
      button#wishlist(type="button", class="btn btn-secondary") 위시리스트
      
    ul(class="list-group list-group-flush")