extends ../layout

block content
  .container.my-5
    button(type="button", class="btn btn-outline-secondary float-right") #[i(class="far fa-edit")] Edit 

    .clearfix.mb-4

    #profile
      img(src="/images/profileTest.jpg", class="mx-auto w-25 h-25")
      .clearfix.my-4
      a(class="float-right", href="https://unsplash.com/@demidearest?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge", target="_blank", rel="noopener noreferrer", title="Download free do whatever you want high-resolution photos from Demi DeHerrera")
        span
          svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 32 32")
            title unsplash-logo
            path(d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z")
        span Demi DeHerrera

    .clearfix.my-4

    div(class="btn-group btn-group-lg w-100", role="group", aria-label="Basic example")
      button(type="button", class="btn btn-secondary") 예약내역
      button(type="button", class="btn btn-secondary") 위시리스트
      button(type="button", class="btn btn-secondary") 등록한 투어
      
    .clearfix.my-4.border-top.border-dark

    each tour in tours
      include ../tours/_tourcard